body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info {
    background-color: lightblue;
    border: 1px;
    border-radius: 10px;
    border-color: black;
    padding: 5px;
    margin: 5px;
}

.message-success {
    background-color: lightgreen;
    border: 1px;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.message-error {
    background-color: lightyellow;
    border: 1px;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.message-warning {
    background-color: lightpink;
    border: 1px;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}